<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/styles_dashboard.css">
</head>
<body>
    <div class="container">
        <h1>Panel de Control</h1>
        <table>
            <tr>
                <td><a href="/users"><button>Usuarios</button></a></td>
            </tr>
            <tr>
                <td><a href="/hardware"><button>Hardware</button></a></td>
            </tr>
            <tr>
                <td><a href="/hardware-types"><button>Tipos de Hardware</button></a></td>
            </tr>
            <tr>
                <td><a href="/insert"><button>Agregar Hardware</button></a></tr>
            </tr>
            <tr>
                <td><button id="passwordManagerButton">Gestión de Contraseñas</button></td>
            </tr>            
            <tr>
                <td><button class="logout-button" onclick="logout()">Cerrar Sesión</button></tr>
            </tr>
        </table>
    </div>

    <script>
        function logout() {
            document.cookie = "access_token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            document.cookie = "is_admin=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            window.location.href = "/";
        }
    
        function getCookie(name) {
            let matches = document.cookie.match(new RegExp(
                "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
            ));
            return matches ? decodeURIComponent(matches[1]) : null;
        }
    
        document.addEventListener("DOMContentLoaded", function () {
            let isAdmin = getCookie("is_admin");
            let button = document.getElementById("passwordManagerButton");
    
            console.log("Valor de is_admin:", isAdmin);  // Debugging
    
            if (isAdmin === "1") {
                button.onclick = () => window.location.href = "/crud_admin";
            } else {
                button.onclick = () => window.location.href = "/crud_user";
            }
        });
    </script>        
</body>

</html>